# Ignorar Dockerfiles en cualquier subcarpeta
**/Dockerfile
**/*.dockerfile

# Ignorar appsettings en cualquier subcarpeta
**/appsettings*.json

# Ignore node_modules if you use npm
node_modules/

# Ignore build output
bin/
obj/

# Ignore user-specific files
.vs/
.vscode/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
